input[type=text] {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 9px;
    width: 450px;
}

label {
    display: block;
    width: 200px;
    font-size: 17px;
    margin-bottom: 4px;
}

.adm {
    margin-top: 15px;
    padding: 15px 26px;

}

h4 {
    margin-top: 20px;
    margin-bottom: 40px;
}

.adm label {
    font-size: 19px;
    margin-top: 9px;
}

.btn {
    padding: 9px 14px;
    border-radius: 7px;
    min-width: 135px;
    background-color: #6c63ff;
}

input[type=date] {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 9px;
    width: 390px;
}

/* .nav-admin {
    padding: 15px;
} */

.brand {
    display: inline;
    margin: 15px;
}

a {
    text-decoration: none;
    color: rgb(30, 0, 255);
    margin: 0px 8px;
}

a:active {
    text-decoration: none;
}

footer {
    background-color: #212529;
    color: #fff;
}

/* transition effect on hover*/